

<script type="text/javascript">
    
    var TIMESTAMP = '@ViewBag.dic["timestamp"]';
    var NONCESTR = '@ViewBag.dic["noncestr"]';
    var SIGNATURE = '@ViewBag.dic["signature"]';
  
</script>




@Scripts.Render("http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
@Scripts.Render("~/Scripts/admin.js")
@model wechat4ap_demo.Controllers.FormData


<div id="body">
    
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to WeChat4AP Admin</h1>
            </hgroup>
           
        </div>
    </section>


    <input type="button" id="btnChooseImage" value="Choose Image" onclick="wxChooseImage();" />

    <div id="imgsdiv">
    </div>
    <label id="errorLabel" />



    <input type="button" id="btnUploadImage" value="upload Image" onclick="wxUploadImage();" />

    <label id="base64Label" />
    <img id="uploadedImg" style="width:150px;height:100px" />

     <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("LoginusingWeChatConfirm", "LoginusingWeChatConfirm", "Home", null, null)
    </section>

     <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("LoginusingWeChatSilently", "LoginusingWeChatSilently", "Home", null, null)
    </section>


    <section class="content-wrapper main-content clear-fix">
        @using (Html.BeginForm("submitForm", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.sendToAllText)
        <input type="submit" value="SendToAll" name="btnType"/>



        @Html.TextBoxFor(m => m.congnitiveTest)

        <input type="submit" value="CongnitiveTest" name="btnType"/>
        }
    </section>

    <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("SendToAllArticle", "SendToAllArticle", "Home", null, null)
    </section>

    
    <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("SendToOneUser", "SendToOneUser", "Home", null, null)
    </section>

    <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("UploadMedia", "UploadMedia", "Home", null, null)
          </section>  


    <section class="content-wrapper main-content clear-fix">
        @Html.ActionLink("UploadArticle", "UploadArticle", "Home", null, null)
          </section>  
    <section class="content-wrapper main-content clear-fix" style="font-size:2em">
    @ViewBag.ReturnMessage
            </section>

    @Html.ActionLink("TestSetSession", "TestSetSession", "Home", null, null)

    @Html.ActionLink("TestReadSession", "TestReadSession", "Home", null, null)
    @ViewBag.SessionValue
</div>
